extend layout



block intro
	h2 Welcome to Connor &amp; Beth's knowledge repo.
	p Here's where all the cool tips &amp; tricks we have picked up on the way will go...

block a/b
	br
	img(src="http://res.cloudinary.com/connorbond/image/upload/v1397750007/a_vioz9t.png", width="700px")
	p ^ A/B testing - of sorts :) ^

block quotes
	hr
	h3 Quotes
	h4 Snippets of wisdom we've picked up along the way...
	p "The best thing you can do is make a decision" - Tony Foggett
	p "Feedback should be treated like a gift" - Alex Anderson
	p "No idea is a bad idea. Just as no question is a silly question" - Rules set my Code Computerlove

block tools
	hr
	h3 Tools
	h4 All the new toys we've had a play with, or want to in future...
	p Heroku
	p Grunt
	p Iain

block links
	hr
	h3 Links
	h4 Some links which we found of interest to us whilst in the office...
	p https://www.woodlandtrust.org.uk
	p http://forefathersgroup.com
	p http://www.theguardian.com/world/interactive/2013/may/26/firestorm-bushfire-dunalley-holmes-family
	p http://targetnuclearweapons.org.au
	p http://www.theverge.com/2014/3/26/5447466/fighting-dirty-behind-boxings-brain-damage-crisis
	p http://adidasoriginals.tumblr.com
	p http://www.olympicstory.com/#!intro
	p http://playstation.gt6firstlove.com

block sessions
	hr
	h3 Sessions
	h4 Just some of the sessions which we managed to sneak in to and learn rather a lot...
	p Code Computerlove Induction
	p Insight into Code
	p Design solutions session
	p UX Induction
	p Account Directing with Sally
	p Craft with Wini
	p Prodcution teams with Mark
	p Optimisation with James
	p Search and Media with Alex
	p Front end Developing with Gibbo and Matt
	P Feedback and t-shape with Alex
	p Kata with Iain

block sidebar
	.widget
		h1 Categories
		ul
			li: a Quotes
			li: a Tips
			li: a Links
			li: a Tools
