extend layout

block intro
	h2 Welcome to Connor &amp; Beth's knowledge repo.
	p Here's where all the cool tips &amp; tricks we have picked up on the way will go...
	img(src="http://res.cloudinary.com/connorbond/image/upload/v1397750007/a_vioz9t.png", width="700px")
	p Words.
	p More Words.
	p A few extra Words.
	p Little dash of Words.
	p Sprinkle in some Words.
	p Garnish with a final Word.

block subhead
		h3 hi beth

block sidebar
	.widget
		h1 Categories
		ul
			li: a Quotes
			li: a Tips
			li: a Links
			li: a Tools
