extend layout

block content
  p	Here's where all the cool bits will go...
    
  p	Words
  p	More Words
  p	A few extra Words
  p	Little dash of Words
  p	Sprinkle in some Words
  p	Garnish with a final Word

block sidebar
  .widget
    h1 Categories
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.

