extend layout



block intro
	h2 Welcome to Connor &amp; Beth's knowledge repo.
	p Here's where all the cool tips &amp; tricks we have picked up on the way will go...

block a/b
	br
	img(src="http://res.cloudinary.com/connorbond/image/upload/v1397750007/a_vioz9t.png", width="700px")
	p ^ A/B testing - of sorts :) ^

block quotes
	hr
	h3 Quotes
	h4 Snippets of wisdom we've picked up along the way...
	p "The best thing you can do is make a decision" - Tony Foggett

block tools
	hr
	h3 Tools
	h4 All the new toys we've had a play with, or want to in future...
	p Git (&amp; Github)
	p Heroku
	p Node.js
	p npm
	p Express
	p Jade
	p Stylus
	p Sass
	p Grunt
	p Visual Website Optimiser
	p Bitbucket
	p TeamCity
	p Kata
	p Mocha
	p Gulp
	p WCAG

block plugins
	hr
	h3 Plugins
	h4 Speed up that day with handy plugins...
	p User-Agent Switcher
	p Accessibility Toolbar
	p Window Resizer

block git
	hr
	h3 Git Tips
	h4 Connor's handy list for easy, Git-based japery...
	p cd ~/&lt;dir_name&gt;
	p mkdir ~/&lt;dir_name&gt;
	p checkout &lt;branch&gt;
	p touch &lt;file&gt;
	p add &lt;file&gt; OR .
	p commit -m 'message'
	p push origin &lt;branch&gt;
	p clone &lt;url&gt;
	p remote add origin &lt;url&gt;
	p pull &lt;url&gt;
	p branch &lt;dir_name&gt;
	p branch --set-upstream-to=origin/&lt;branch&gt; &lt;branch&gt;
	p config --global &lt;variable&gt;

block sidebar
	.widget
		h1 Categories
		ul
			li: a Quotes
			li: a Tips
			li: a Links
			li: a Tools
			li: a Plugins
			li: a Sessions
			li: a Git Help
