extend layout



block intro
	h2 Welcome to Connor &amp; Beth's knowledge repo.
	p Here's where all the cool tips &amp; tricks we have picked up on the way will go...

block a/b
	br
	img(src="http://res.cloudinary.com/connorbond/image/upload/v1397750007/a_vioz9t.png", width="700px")
	p ^ A/B testing - of sorts :) ^

block quotes
	hr
	h3 Quotes
	h4 Snippets of wisdom we've picked up along the way...
	p "The best thing you can do is make a decision" - Tony Foggett

block tools
	hr
	h3 Tools
	h4 All the new toys we've had a play with, or want to in future...
	p Heroku
	p Grunt
	p Iain
	p Alex

block sidebar
	.widget
		h1 Categories
		ul
			li: a Quotes
			li: a Tips
			li: a Links
			li: a Tools
