!!!5
html
  head
    title Week @ Code | #{title} 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Our Week @ Code
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on Heroku with node.js, Express, Jade and Stylus. Auto-Deployed by Drone.io. Impressed? :p 