doctype html
html
  head
    title #{title} | Home
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Week @ Code | Connor and Beth
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node.js - with Express, written in Jade, hosted by Heroku