!!!5
html
  head
    title #{title} - Repo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Week @ Code | Our Repo
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node.js with Express, Jade and Stylus - Hosted by Heroku